<h2 class="sub-heading">Student Details</h2>
<hr>
<div class="fields">
<div class="form-group">
<img [src]="url" alt="user">
</div>
<br>
<div class="form-group">
<label><b>Name:</b></label>{{student.name}}
</div>

<div class="form-group">
<label><b>Age:</b></label>{{student.age}}
</div>
        
<div class="form-group">
<label><b>Date of Birth:</b></label>{{student.dob}}
</div>
        
<div class="form-group">
<label><b>Gender:</b></label>{{student.gender}}
</div>

<div class="form-group">
<label><b>Email Id:</b></label>{{student.email}}
</div>

<div class="form-group">
<label><b>Phone Number:</b></label>{{student.phoneNo}}
</div>

<div class="form-group">
<label><b>Percentage:</b></label>{{student.percentage}}
</div>

</div>
<br>
<hr>